@use 'foundation';



.header {
    min-width: 100vh;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, 
        rgba(22,22,22,.3) 0, 
        rgba(22,22,22,.7) 40%, 
        #161616 100%), 
        url("../img/head.jpg");


    .logo {
        margin: 0px;
        padding: 10px;
    }
    
}


.body {
    min-height: 100vh;
    background: black;
    background: linear-gradient(0deg, 
        rgba(22,22,22,.3) 0, 
        rgba(22,22,22,.7) 45%, 
        #161616 100%);
}


.footer {
    min-height: 100vh;
    background: black;
    background: linear-gradient(180deg, 
        rgba(22,22,22,.3) 0, 
        rgba(22,22,22,.7) 45%, 
        #161616 100%);
}